* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 20px;
}

body {
    background-color: wheat;
}

#author,
#quote {
    margin: 0 auto;
}

#author {
    font-size: 2rem;
}

#quote {
    font-size: 2.2rem;
}

#container {
    border-left: 2px solid;
    max-width: 800px;
    margin: 200px auto 0;
    padding: 10px;
}